pipeline/if_activity_3.json
{
	"name": "if_activity_3",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Input_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Output_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    activity('Input_lookup').output.firstRow.Input_Table_Date,\n    activity('Output_lookup').output.firstRow.Output_Table_Date\n    )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1_False",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1_Input_Table_Date",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamic_tbl",
									"type": "DatasetReference",
									"parameters": {
										"sch_Name": "dbo",
										"tbl_Name": "IfTable_Input"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_tbl",
									"type": "DatasetReference",
									"parameters": {
										"sch_Name": "dbo",
										"tbl_Name": "IfTable_Output"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Input_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(TrxnDate) as Input_Table_Date from dbo.IfTable_Input",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_tbl",
						"type": "DatasetReference",
						"parameters": {
							"sch_Name": "dbo",
							"tbl_Name": "IfTable_Input"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Output_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(TrxnDate) as Output_Table_Date from dbo.IfTable_Output",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_tbl",
						"type": "DatasetReference",
						"parameters": {
							"sch_Name": "dbo",
							"tbl_Name": "IfTable_Output"
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-01T14:03:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}