pipeline/set_append variable.json
{
	"name": "set_append variable",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Input_Value",
					"value": {
						"value": "1",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayList",
					"value": {
						"value": "@variables('Input_Value')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Input_Value",
					"value": "2"
				}
			},
			{
				"name": "Append variable2",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayList",
					"value": {
						"value": "@variables('Input_Value')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FinalList",
					"value": {
						"value": "@variables('ArrayList')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Input_Value": {
				"type": "String"
			},
			"ArrayList": {
				"type": "Array"
			},
			"FinalList": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-03T16:46:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}